.main-content {
  transition: margin-left 0.3s ease;
  padding: 20px;
  margin-left: 40px;
  overflow-y: auto; 
  padding-top: 6rem;
  


}
.main-content.shifted {
  margin-left: 220px;
}

.main-content h1
{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(2, 1, 51);
  margin-bottom: 2rem;
}

.main-content .copyright
{
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;

}
@media screen and (max-width: 768px) {
.main-content h1
{
  text-align: center;
  font-size: 1.2rem;

  margin-bottom: 2rem;
}
}